@charset "UTF-8";
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.087em;
}

form {
  width: 100 vh;
}

.formulario {
  width: 650px;
  margin: auto;
  padding: 20px;
  border: 2px solid white;
  border-radius: 5px;
}

.formulario input, .formulario textarea {
  border-radius: 3px;
  border-color: black;
}

.formulario input:disabled, .formulario textarea:disabled {
  background-color: #afafaf;
}

.formulario input:required, .formulario textarea:required {
  border-color: #e73939;
}

.formulario .avatar, .formulario .banner {
  background-color: #616161;
  background-size: cover;
  height: 150px;
  cursor: pointer;
}

.formulario .avatar div, .formulario .banner div {
  color: white;
  font-weight: 600;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(calc(50% - 20px));
          transform: translateY(calc(50% - 20px));
  text-align: center;
}

.formulario .avatar div span, .formulario .banner div span {
  font-size: 10px;
  font-weight: 300;
}

.formulario .avatar {
  width: 150px;
  -webkit-clip-path: circle();
          clip-path: circle();
  position: relative;
  left: 0px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.formulario .banner {
  width: 450px;
  position: absolute;
  right: 0px;
  border-radius: 5px;
  overflow: hidden;
}

.formulario .banner div {
  -webkit-transform: translateY(calc(50% - 15px));
          transform: translateY(calc(50% - 15px));
}

.formulario .banner0 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
}

.formulario .nome, .formulario .level, .formulario .invocação {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.formulario .idadecla {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
}

.formulario .tendencia, .formulario .alcunhaLocal {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.formulario .alcunhaMundial {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
}

.formulario .origem {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 6;
}

.formulario .rankespecial {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
}

.formulario .profissão, .formulario .reputação {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 7;
}

.formulario .assinatura {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
}

.formulario .time, .formulario .atributos, .formulario .bonusCla, .formulario .talentos, .formulario .elementos, .formulario .addRemove, .formulario .armas {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 7;
}

.formulario .missões, .formulario .individualidade {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
}

.formulario .missões div, .formulario .individualidade div {
  margin: auto;
}

.formulario .missõesTitle, .formulario .attTitle, .formulario .formTitle2 {
  margin-top: 10px;
  margin-bottom: 10px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: 50px;
  background-color: #7e3a3a;
  border-top-right-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.86px;
}

.formulario .missõesTitle span, .formulario .attTitle span, .formulario .formTitle2 span {
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.formulario .formTitle {
  font-size: 16px;
  margin-bottom: -18px;
}

.formulario .attTitle, .formulario .claTitle {
  grid-column-end: 7;
  margin-top: 30px;
  margin-bottom: 30px;
}

.formulario .idadecla, .formulario .rankespecial {
  position: relative;
}

.formulario .idade, .formulario .especial {
  position: absolute;
  top: 0px;
  right: 0px;
}

.formulario #idade {
  width: 30px;
}

.formulario #org, .formulario #assinatura {
  width: calc(100% - 6px);
}

.formulario #niver, .formulario #pvp {
  height: 22px;
}

.formulario .pvp {
  position: relative;
  right: 13px;
}

.formulario .perfil, .formulario .rep, .formulario .habilidades, .formulario .camposTexto {
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, calc(573px/6)))[6];
      grid-template-columns: repeat(6, minmax(auto, calc(573px/6)));
  grid-gap: 15px;
  margin-bottom: 20px;
  width: 650px;
}

.formulario .camposTexto {
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
}

.formulario .missões, .formulario .level, .formulario .individualidade, .formulario .atributos, .formulario .bonusCla, .formulario .elementos, .formulario .armas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
  grid-row-gap: 10px;
  width: 100%;
  position: relative;
}

.formulario .missões input[type="number"], .formulario .missões .att, .formulario .level input[type="number"], .formulario .level .att, .formulario .individualidade input[type="number"], .formulario .individualidade .att, .formulario .atributos input[type="number"], .formulario .atributos .att, .formulario .bonusCla input[type="number"], .formulario .bonusCla .att, .formulario .elementos input[type="number"], .formulario .elementos .att, .formulario .armas input[type="number"], .formulario .armas .att {
  width: 40px;
}

.formulario .bonusCla {
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
}

.formulario .bonusCla div {
  margin: auto;
}

.formulario .atributos {
  -ms-grid-columns: (calc(100%/6))[6];
      grid-template-columns: repeat(6, calc(100%/6));
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.formulario .level input[type="number"] {
  width: 50px;
}

.formulario .formTitle, .formulario .historia, .formulario .notas {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.formulario #talentos, .formulario .talentosElementais, .formulario .talentosBuki, .formulario #historia, .formulario #notas {
  width: 100%;
  max-width: 644px;
}

.formulario .elementos, .formulario .armas, .formulario .talentos {
  position: relative;
  grid-column-gap: 20px;
}

.formulario .elementos .select2-container, .formulario .armas .select2-container, .formulario .talentos .select2-container {
  width: 100% !important;
}

.formulario .elementos .formTitle, .formulario .armas .formTitle, .formulario .talentos .formTitle {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 7;
}

.formulario .elementos .elementTalent, .formulario .elementos .bukiTalent, .formulario .armas .elementTalent, .formulario .armas .bukiTalent, .formulario .talentos .elementTalent, .formulario .talentos .bukiTalent {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 7;
}

.formulario .elementos input, .formulario .armas input, .formulario .talentos input {
  height: 26px;
  border-radius: 5px;
}

.formulario .addRemove {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.formulario #newElement, .formulario #deletElement, .formulario #newBuki, .formulario #deleteBuki, .formulario #copy, .formulario #finalizar {
  width: 200px;
  height: 35px;
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.formulario textarea {
  /* will prevent resizing horizontally */
  resize: vertical;
  width: 310px;
  height: 100px;
  border-radius: 5px;
}

.formulario #copy, .formulario #finalizar {
  width: 250px;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.formulario .formClaim {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

/*.select2-container--default .select2-selection--multiple{
    //background-color: #141414;
}*/
.select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-results__option--selected {
  color: black;
}

.select2-results {
  color: black;
}

.intro {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro .intro2 {
  width: 500px;
  height: 500px;
  background-color: black;
  border-radius: 15px;
  position: absolute;
  top: calc(50% - 300px);
  padding: 20px;
  overflow: hidden;
  text-align: justify;
  color: white;
}

.intro .intro2 .introImage {
  width: calc(100% + 40px);
  height: 375px;
  background-image: url(https://media.discordapp.net/attachments/928054920551215195/934982376738652201/Shinobi_world_modelo_1.png);
  background-size: 201%;
  background-position-y: 40%;
  position: relative;
  right: 20px;
  top: -80px;
  -webkit-transform: scale(60%);
          transform: scale(60%);
  margin-bottom: -130px;
}

.intro .intro2 input {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
}

.intro .intro2 .introB {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.intro .intro2 .introB button {
  margin-right: 10px;
  margin-left: 10px;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #232323;
  color: white;
  font-weight: 600;
}

.intro .intro2 .introB button:hover {
  background-color: #7e3a3a;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */
